<div style="margin:20%; padding:20px">
    <p>dashboard works!</p>

    <h1> Hello {{ title }}</h1>
    <h2> Hello {{ desc }}</h2>
    <br>
    <table>
        <tr *ngFor="let country of countriesList">
            <td>{{ country }}</td>
        </tr>
    </table>
    <p> {{ countriesList }} </p>

    <hr />

    <table class="table table-striped">
        <tr *ngFor="let obj of countriesWithPopulation">
            <td>{{ obj.id }}</td>
            <td>{{ obj.name }}</td>
            <td>{{ obj.population }}</td>
            <td>{{ obj.gdp }}</td>
        </tr>
    </table>

    <hr>

    <hr />

    <table class="table table-striped">
        <thead>
            <tr>
                <td>First Name</td>
                <td>Last Name</td>
                <td>Age</td>
                <td>Address</td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let obj of userData" >
                <td>{{ obj }}</td>
                <td>{{ obj.lname }}</td>
                <td>{{ obj.age }}</td>
                <td>{{ obj.address }}</td>
            </tr>
        </tbody>
        
    </table>
    <button class="btn btn-danger">Logout</button>
</div>